body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #333;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background: #222; /* Sehr dunkler Hintergrund für den Container */
    border-radius: 15px; /* Abgerundete Ecken */
    box-shadow: 0 8px 16px rgba(0,0,0,0.3); /* Schatten für Tiefe */
}

header {
    position: sticky;
    top: 0;
    background: #222; /* Dunkle Farbe, um den Text abzuheben */
    padding: 10px 20px;
    z-index: 1000; /* Stellen Sie sicher, dass der Header über anderen Elementen schwebt */
    width: 90%;
    text-align: justify;
    margin-bottom: 20px;
}

h1 {
    font-weight: bold;
    font-size: 1.75em; /* Größere Schrift für die Überschrift */
    text-align: center;
    margin: 0; /* Entfernen des Standard-Margins */
}

section.survey {
    margin-top: 20px;
}

.question {
    background: #444; /* Dunkler Hintergrund für jede Frage */
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px; /* Abgerundete Ecken für die Frage-Container */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Schatten für die Fragen */
}

label {
    display: block;
    margin-bottom: 8px;
}

.stars {
    display: flex;
    cursor: pointer;
}

.star {
    font-size: 24px; /* Größere Sterne */
    color: #ccc; /* Standardfarbe für Sterne */
    margin-right: 5px; /* Abstand zwischen den Sternen */
}

.star:hover,
.star.selected {
    color: #ff9800; /* Farbänderung beim Überfahren mit der Maus */
}

.feedback {
    display: block;
    margin-top: 10px;
    color: #f44336; /* Lebendige Feedback-Farbe */
    font-weight: bold;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background: #ff9800; /* Lebendige Button-Farbe */
    color: white;
    font-size: 16px;
    border-radius: 8px; /* Abgerundete Ecken für Button */
    cursor: pointer;
}

button:hover {
    background: #e68900; /* Dunklere Farbe beim Überfahren des Buttons */
}
